<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="Ctrl">
<head>
  <script src="js/dependencies/jquery.min.js"></script>
  <script src="js/dependencies/angular.min.js"></script>
  <script src="js/login.js"></script>
  <link rel="stylesheet" href="js/dependencies/bootstrap.min.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>VK 2 Harjoitus | Olli Suutari</title>
  <style>
    body { padding-top:50px; }
  </style>
</head>
<body>
<div class="container">
  <div class="well">
    <h3>Sisäänkirjautuminen</h3><br>
    <form name="LoginForm" ng-submit="submitLoginForm(LoginForm.$valid)" novalidate>
      <!-- Käyttäjätunnus -->
      <div class="form-group" ng-class="{ 'has-error' : LoginForm.login_username.$invalid &&
                    !LoginForm.login_username.$pristine }">
        <label>Käyttäjänimi</label>
        <input text-input name="login_username" class="form-control" ng-model="user.login_username"
               maxlength="40" required placeholder="*">
        <p ng-show="LoginForm.login_username.$invalid && !LoginForm.login_username.$pristine" class="help-block"
        >Etunimi vaaditaan</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : LoginForm.login_password.$invalid &&
                    !LoginForm.login_password.$pristine }">
        <label>Salasana</label>
        <input type="password" name="login_password" class="form-control" ng-model="user.login_password"
               maxlength="40" required placeholder="*">
        <p ng-show="LoginForm.login_password.$invalid && !LoginForm.login_password.$pristine"
           class="help-block">Salasana on virheellinen</p>
      </div>
      <br>
      <button type="submit" class="btn btn-info btn-lg">Kirjaudu sisään</button>
      <br><br>
    </form>
    <br>
    <h3>Uuden tunnuksen luominen</h3><br>
    <form name="RegisterForm" ng-submit="submitRegisterForm()" novalidate>
      <div class="form-group">
        <label>Käyttäjänimi</label>
        <input name="register_username" id="register_username" placeholder="*" class="form-control" ng-model="user.register_username"
               maxlength="40">
      </div>
      <!-- student_id -->
      <div class="form-group">
        <label>Salasana</label>
        <!-- student_id -->
        <input name="register_password" id="register_password"
               class="form-control" ng-model="user.register_password">
      </div>
      <br>
      <button type="submit" class="btn btn-info btn-lg">Luo tunnus</button>
      <br><br>
    </form>
    <br><br>
  </div>
</div>
</body>
</html>